<menu-bar></menu-bar>

<div class="socialvideotool">
	<div class="s-mainmenu">
		<div>
			<label class="btn btn-secondary btn-upload">
				<input type="file" name="video" (change)="createNewProject($event)">New
			</label>
			<button type="button" class="btn btn-secondary" (click)="''">Open</button>
			<button (click)="logout()" class="btn btn-secondary">Sign Out</button>
		</div>
	</div>

	<div class="s-status" *ngIf="project">
		<!--erro message upload|project -->
		<div class="s-status-error" *ngIf="userMessage">{{userMessage}}</div>

		<!--progressbar upload-->
		<div class="s-progress" *ngIf="uploadProgress > 0 && uploadProgress < 100">
			<div class="s-progress__label">uploading</div>
			<div class="s-progress__bg" *ngIf="uploadProgress">
				<div class="s-progress__bar" [style.width]="uploadProgress + '%'"></div>
			</div>
		</div>

		<!--progressbar downscaling-->
		<div class="s-progress" *ngIf="projectData?.status?.downScaleProgress > 0 && projectData?.status?.downScaleProgress < 100">
			<div class="s-progress__label">downscaling</div>
			<div class="s-progress__bg" *ngIf="projectData?.status.downScaleProgress">
				<div class="s-progress__bar" [style.width]="projectData?.status?.downScaleProgress + '%'"></div>
			</div>
		</div>
	</div>

	<div class="s-submenu" *ngIf="project">
		<!--once downscaled show controls-->
		<div *ngIf="projectData?.status?.downscaled">
			<button type="button" class="btn btn-secondary" (click)="addAnnotation()">Add Annotation(U)</button>
			<label class="btn btn-secondary btn-upload">
				<input type="file" name="video" (change)="updateSource($event)">Update Source
			</label>
			<button type="button" class="btn btn-secondary" (click)="addToRenderQueue()">Render Movie(R)</button>
		</div>
	</div>

	<div class="s-sub-controls" *ngIf="projectData?.status?.downscaled">
		
		<!--annotations-->
		<div class="s-sub__wrapper">
			<!--annotations column-->
			<div class="s-sub-items">
				<div *ngIf="projectData.annotations">
					<div *ngFor="let annotation of projectData.annotations | list | sortByProp:'end' " 
						(click)="setSelectedAnno(annotation.key)"
						[class.highlight]="selectedAnnotation.key === annotation.key"
						class="s-sub-item">
						<div class="s-sub-item__info">
							<small>{{annotation.start | json}}-{{annotation.end | json}} </small><br>
							<small>{{annotation.data.name}}</small>
						</div>
						<div class="s-sub-item__delete" (click)="deleteAnnotation(annotation.key)">
							<span>x</span>
						</div>
					</div>
				</div>
			</div>
			
			<!--template column-->
			<div class="s-sub-templates" *ngIf="selectedAnnotation">
				<div *ngFor="let template of (templates | list)"
					(click)="updateSelectedAnnoTemplate(template)"
					[class.highlight]="template.name === selectedAnnotation.data.name"
					class="s-sub-template">
						<img class="s-sub-template__thumb" [src]="template.imageUrl">
						<small class="s-sub-template__name">{{template.name}}</small>
				</div><hr>
			</div>

			<!--inputs column-->
			<div class="s-sub-inputs">
				<div *ngIf="selectedAnnotation">
					<form>
						<div *ngFor="let input of (selectedAnnotation.data.text | keys)">
							<label class="s-sub-inputs__label" for="">{{input.value.label}}</label>
							<input class="s-sub-inputs__input" type="text" [(ngModel)]="input.value.text" (blur)="updateSelAnnoTextInput($event, selectedAnnotation.key)" [ngModelOptions]="{standalone: true}">
						</div>
					</form>
				</div>
			</div>
		</div>

		<!--video-->
		<div class="s-video_wrapper">

			<div class="s-video">
				<vrtvideo-player 
					[clip]="projectData.clip"
					[annotations]="projectData.annotations"
					[selectedAnnotation]="selectedAnnotation">
				</vrtvideo-player>

				<range-slider *ngIf="selectedAnnotation"
					[selectedAnnotation]="selectedAnnotation" 
					[clip]="projectData.clip" (changeAnno)="updateSelectedAnno( selectedAnnotation.key, $event)">
				</range-slider>
			</div>
		</div>

	</div>
	
</div>