<login-form *ngIf="!authenticated" (onAuthStatusChange)="authenticationStatus($event)" (onError)="authenticationError($event)"></login-form>
{{errorMessage}}

<div *ngIf="authenticated" class="socialvideotool">
	<div class="s-mainmenu">
		<div>
			<label class="btn btn-secondary btn-upload">
				<input type="file" name="video" (change)="createNewProject($event)">New
			</label>
			<button type="button" class="btn btn-secondary" (click)="''">Open</button>
			<button (click)="logout()" class="btn btn-secondary">Sign Out</button>
		</div>
	</div>

	<div class="s-status" *ngIf="(projectRef | async)">
		<!--erro message upload|project -->
		<div class="s-status-error" *ngIf="userMessage">{{userMessage}}</div>

		<!--progressbar upload-->
		<div class="s-progress" *ngIf="uploadProgress > 0 && uploadProgress < 100">
			<div class="s-progress__label">uploading</div>
			<div class="s-progress__bg" *ngIf="uploadProgress">
				<div class="s-progress__bar" [style.width]="uploadProgress + '%'"></div>
			</div>
		</div>

		<!--progressbar downscaling-->
		<div class="s-progress" *ngIf="(projectRef | async)?.status?.downScaleProgress > 0 && (projectRef | async)?.status?.downScaleProgress < 100">
			<div class="s-progress__label">downscaling</div>
			<div class="s-progress__bg" *ngIf="(projectRef | async)?.status.downScaleProgress">
				<div class="s-progress__bar" [style.width]="(projectRef | async)?.status?.downScaleProgress + '%'"></div>
			</div>
		</div>
	</div>

	<div class="s-submenu" *ngIf="(projectRef | async)">
		<!--once downscaled show controls-->
		<div *ngIf="(projectRef | async)?.status?.downscaled">
			<button type="button" class="btn btn-secondary" (click)="addAnnotation()">Add Annotation(U)</button>
			<label class="btn btn-secondary btn-upload">
				<input type="file" name="video" (change)="updateSource($event)">Update Source
			</label>
			<button type="button" class="btn btn-secondary" (click)="addToRenderQueue()">Render Movie(R)</button>
		</div>
	</div>
	
	<div class="s-sub-controls" *ngIf="(projectRef | async)?.status?.downscaled">
		
		<!--subs-->
		<div class="s-sub__wrapper">
			<!--subtitles column-->
			<div class="s-sub-items">
				<div *ngFor="let annotation of (annotationsRef | async) ; 
					let i = index; let last = last; trackBy:annotation?.$key" 
       				[class.highlight]="selectedAnnotation.$key === annotation.$key"
					(click)="setSelectedAnnotation(annotation)"
					class="s-sub-item">
					
					<div class="s-sub-item__info">
						<small>{{i}} | {{annotation.start | json}} - {{annotation.end | json}} </small>
					</div>
					<div class="s-sub-item__delete" (click)="deleteAnnotation(annotation.$key)">
						<span>x</span>
					</div>
				</div>
			</div>
			
			<!--template column-->
			<div class="s-sub-templates" *ngIf="selectedAnnotation">
				<div *ngFor="let template of (templates | list)"
					(click)="setSelectedTemplate(template)"
					[class.highlight]="selectedTemplate === template"
					class="s-sub-template">
						<small>{{template.name | json}}</small>
				</div><hr>
			</div>

			<!--inputs column-->
			<div class="s-sub-inputs">
				<div class="">Input here</div>
			</div>
		</div>

		<!--video-->
		<div class="s-video_wrapper">
			<div class="s-video">
				<vrtvideo-player 
					[clip]="(clipRef | async)"
					[selectedAnnotation]="selectedAnnotation">
				</vrtvideo-player>

				<range-slider *ngIf="selectedAnnotation"
					[selectedAnnotation]="selectedAnnotation" 
					[clip]="(clipRef | async)" (changeAnno)="updateAnnotation($event)">
				</range-slider>
			</div>
		</div>

	</div>
	
	<!--<small class="">{{ projectRef | async | json }}</small><br>-->
</div>