@import '../../../common/styles/variables.scss';

.socialvideotool { 
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    .btn-upload {
        margin-bottom: 0;
    }
    .btn-upload input {
        display: none;
    }
}

.s-mainmenu {
    background: #f2f2f2;
    flex: 0 1 auto;
    flex-direction: row; 
    padding: .5rem;
    background-image: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);   
}

.s-submenu {
    border:1px solid #f2f2f2;
    flex: 0 1 auto;
    flex-direction: row; 
    padding: .5rem;
}

.s-progress {
    display: flex;
    .s-progress__label {
        flex: 1 1 auto;
        font-size: .75rem;
        padding: 0 1rem;
    }
    .s-progress__bg {
            background: rgba(#0288d1, 0.3);
            border-radius: 4px;
            flex: 1 1 auto;
            overflow: hidden;
            width: 100%;
    }
    .s-progress__bar {
        background: #0288d1;
        line-height: 1rem;
        height: 100%;
    }
}


.s-sub-controls {
    display:flex; 
    flex: 1;
    flex-direction:row;
    .s-sub__wrapper {
        flex: 0 0 50%; display:flex;
    }
    .s-sub-items {
        border: 1px solid #f2f2f2;
        flex: 1 1 20%; 
        flex-direction: column;
        overflow: auto;
    }
    .s-sub-item {
        border: 1px solid #f2f2f2;
        flex: 0;
    }
    .s-sub-templates {
        border: 1px solid #f2f2f2;
        display: flex;
        flex: 1 1 20%; 
        flex-direction: column;
    }
    .s-sub-template {
        border: 1px solid #f2f2f2;
        flex: 0;
    }
    .s-sub-inputs {
        border: 1px solid #f2f2f2;        
        display: flex;
        flex: 1 1 20%;
        flex-direction: column;
    }
    .s-sub-input {
        border: 1px solid #f2f2f2;
        flex: 0;
    }
}


.s-video_wrapper {
    flex: 0 0 50%;
}

.s-video {
    border:1px solid #f2f2f2;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    flex-wrap: nowrap;
}

.s-video__controls {
    
}

.s-video__scrubber {
    
}

.s-video__templates {
    
}