<div class="subtitle-tool" style="display:flex;flex-wrap:nowrap;flex-direction:column; width:100%;height:100vh">

	<div class="sub-menu" style="display:flex; flex-direction:row; flex: 0 1 auto;">
		<div class="" style=":;">
			<button type="button" class="btn btn-primary" (click)="newProject()">New</button>
			<button type="button" class="btn btn-secondary">Open</button>
			<!--<input type="text" name="video-name" *ngIf="firebaseProject" [(ngModel)]="project.name" (keyup)="update()">-->
		</div>
	</div>

	<div *ngIf="firebaseProject" class="" style="display:flex; flex-direction:row; flex: 0 1 auto; background: #D2D2D2;">
		<div class="" style=":;">
			<input type="file" class="btn btn-secondary" name="video" (change)="upload($event)">
			<button *ngIf="project.status.downscaled" type="button" class="btn btn-secondary" (click)="addSubtitle()">Add Subtitle(U)</button>
			<button *ngIf="project.status.downscaled" type="button" class="btn btn-secondary" (click)="queue()">Render Movie(R)</button>
		</div>
	</div>

	<div *ngIf="project && project.status.downscaled" class="video-panel">

		<div class="sub-controls" style="display:flex; flex-direction:row; flex: 1;">

			<div class="" style="flex: 0 0 50%; display:flex;">

				<!--subtitles column-->
				<div class="" style="flex:1 1 20%; display:flex;flex-direction:column;border:1px solid #f2f2f2;">
					<div *ngFor="let sub of project.subtitles | list" class="" style="flex:0;border:1px solid #f2f2f2;">
						{{sub.text}}
					</div>
				</div>

				<!--template column-->
				<div class="" style="flex:1 1 20%; display:flex;flex-direction:column;border:1px solid #f2f2f2;">
					<div class="" style="flex:0;border:1px solid #f2f2f2;">
						template 1
					</div>
					<div class="" style="flex:0;border:1px solid #f2f2f2;">
						template 2
					</div>
				</div>

				<!--inputs column-->
				<div class="" style="flex:1 1 20%; display:flex;flex-direction:column;border:1px solid #f2f2f2;">
					<div class="" style="flex:0;border:1px solid #f2f2f2;">
						inputs here
					</div>
					<div class="" style="flex:0;border:1px solid #f2f2f2;">
						inputs here
					</div>
					<div class="" style="flex:0;border:1px solid #f2f2f2;">
						inputs here
					</div>
					<div class="" style="flex:0;border:1px solid #f2f2f2;">
						inputs here
					</div>
				</div>
			</div>

			<!--video-->
			<div class="" style="flex: 0 0 50%;">
				<div class="" style="flex:1 1 0%; display:flex;flex-wrap:nowrap;flex-direction:column;border:1px solid #f2f2f2;">
					<range-slider [subAr]="project.subtitles | list" [video]="project.clip" (change)="updateSubtitles($event)"></range-slider>
					<vrtvideo-player [video]="project.clip" [subAr]="project.subtitles | list"></vrtvideo-player>
				</div>
				<div>{{project.subtitles | list | json}}</div>
			</div>

		</div>

	</div>

	<div class="" style="display:flex; flex-direction:row;"></div>
</div>