.sub-menu {
    padding: .5rem;
    background: #f2f2f2;
}

.socialvideotool { 
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.s-mainmenu {
    background: #f2f2f2;
    flex: 0 1 auto;
    flex-direction: row; 
    padding: .5rem;
}

.s-submenu {
    background: #D2D2D2;
    border: 3px solid yellow;   
    display: flex; 
    flex: 0 1 auto;
    flex-direction: row; 
}

.s-subtitles {
    
}

.s-templates {
    
}

.s-inputs {
    
}

.s-video {
    
}

.s-video__controls {
    
}

.s-video__scrubber {
    
}

.s-video__templates {
    
}