.s-btn {
    @include s-transition(all .15s ease);

    background: $s-link;
    border: 0;
    color: white;
    border-radius: .25rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    padding: .5rem 1rem;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    transform: translateY(0px);
    &:hover {
        background: darken($s-link, 6%);
        box-shadow: 0 6px 6px -4px rgba($s-primary, .5), 0 6px 16px 0 rgba(150, 150, 150, .15);
        color: white;
        transform: translateY(-1px);
    }
    &--outline { 
        background: none;
        border: 2px solid lighten($s-primary, 10%);
        color: $s-link;
        &:hover {
            border: 2px solid darken($s-link, 6%);
        }
    }
    &--secondary {
        background: hsl(0,0,95);
        color: $s-link;
    }
    &--display-block {
        width: 100%;
    }
    &--large {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
    span:last-child {
        margin-right: 0; 
    }
    span:first-child {
        margin-left: 0; 
    }
    &__text { 
        display: inline-block;
    }
    &__icon { 
        display: inline-block;
        line-height: 0;
        margin: 0 .25rem;
        md-icon {
            height: 14px;
            position: relative;
            top: -1px;
            vertical-align: middle;
            width: 14px;
        }
    }
}