html{
  min-height: 100%;
  position:relative;
}

body{ height: 100% }

.right{ float:right!important}

#download{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow: hidden;
  z-index:-1;

  vg-controls vg-time-display { margin-left: auto }
  vg-scrub-bar{ position: fixed!important }
} 
