project-component {
    display: flex;
    flex-direction: column;
}

.socialvideotool { 
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px); // minus menu-height
    width: 100%;
    .btn-upload {
        margin-bottom: 0;
    }
    .btn-upload input {
        display: none;
    }
}

.s-menu-project {
    background: $s-primary;
    border-bottom: 1px solid lighten($s-primary, 10%);
    display: flex; 
    flex: 0 1 auto;
    flex-direction: row; 
    padding: 1rem;
    justify-content: space-between;

    &__left {
        display: flex;   
    }
    &__right {
        display: flex;
        .s-btn {
            margin-left: .5rem;
        }
    }
}
.s-brand {
    &__selector { 
        position: relative;
        cursor: pointer;
        md-icon {
            fill:white; 
            width:20px; 
            height:20px; 
            vertical-align: middle; 
            position:relative; 
            top: 1px;
        }
    }
    &__trigger { 
        //
    }
    &__label { 
        color:#7E94BC; 
        display: block; 
        font-size:.5rem;
    }
    &__selected {
        color: white;
    }

    &__dropdown-list {
        background:white; 
        border-bottom: 1px solid $s-link;
        border-radius: 3px;
        box-shadow: 0 7px 10px 0 rgba(42,50,66,.3);
        margin: 0;
        min-width: 200px;
        list-style: none;
        padding: .5rem 1rem; 
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
    }
    &__dropdown-item {
        cursor: pointer;
        margin-bottom: .5rem; 
    }        
}
.s-status {
    display: flex;
    flex-direction: column;
    > div { 
        border-bottom: 1px solid #f2f2f2;
        padding: 1rem;
    }
}

.s-submenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background: #477DDF;
    flex: 0 1 auto;
    padding: 1rem;

}
.s-submenu__left {
    
}
.s-submenu__right {
    display: flex;
}

.s-status-error {
    font-size: .75rem;
    padding: .5rem 0;
}

.s-anno-controls {
    background: #f6f6f6;
    display: flex; 
    flex: 1;
    flex-direction: row;
    @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .s-anno__wrapper { 
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        @media screen and (max-width:767px) {
            flex: 0 0 100%;
        }
    }
    .s-anno-items {
        //border-right: 1px solid #f2f2f2;
        border-right: 1px solid #eee;
        flex-direction: column;
        overflow: auto;
        flex: 1 1 auto;
        margin-bottom: 130px;
        @media screen and (max-width:767px) {
            flex: 1 1 0;
        }
    }
    .s-anno-item {
        background: white;
        border-bottom: 1px solid #f2f2f2;
        display: flex;
        flex-direction: column; 
        position: relative;
        &:hover:after {
            content: '';
            width: 4px;
            height: 100%;
            background: $s-link;
            position: absolute;
            top: 0;
            left: 0;
        }
        &.active {
            cursor: pointer;
            background: #f2f2f2;
            color: #a3d1ff;
            box-shadow: 0 4px 12px 0 hsla(0,0%,59%,.5);
        }
        .s-anno-item__preview {
            position: relative;
            img { 
                box-shadow: 0 2px 0px 0 $s-link;
            }
            span {
                background: $s-link;
                bottom: -15px;
                border-radius: 100px;
                height: 24px;
                left: 50%;
                position: absolute;
                text-align: center;
                transform: translateX(-50%);                
                width: 24px;
            }
            md-icon {
                fill: white;
                height: 16px;
                left: 50%;                
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 16px;
            } 
        }
        .s-anno-item__delete {
            &:hover {
                opacity: 1;
            } 
            cursor: pointer;
            flex: 0 1 40px;
            margin-right: -.5rem;
            text-align: center;
            md-icon { 
                width: 20px;
                height: 20px;
                fill: $s-link;
            }
        }
    }
    .s-anno-item__controls {
        display: flex;
        flex-direction: row;
        padding: .5rem;
    }
    .s-anno-item__info {
        flex: 0 0 90px;
        padding: .5rem;
    }
    .s-anno-item__delete {
        opacity: 0;
    }
    .s-anno-templates {
        @include s-gradient-vertical(#e0e0e0, #fff);

        border: 1px solid #f2f2f2;
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        overflow-y: scroll;
        //padding: .5rem;
    }
    .s-anno-template {
        flex: 0 0 100px;
        &.active img, &:hover img {
            cursor: pointer;
            border-bottom: 2px solid $s-link;
            color: #a3d1ff;
        }
        &__thumb { 
            width: 100%;
            padding: 1rem;
        }
        &__name { 
            font-size: .8rem;
        }
    }
    .s-anno-inputs {      
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 0.5rem;
        &__label {
            color: #999;
            font-size: .7rem;    
        }
        &__input {
            font-size: .8rem;
        }
    }
    .s-anno-input {
        border: 1px solid #f2f2f2;
        flex: 0;
    }
}

.s-templateSelector {
    position:relative;
    &__button { 
        align-items: center;
        display: flex; 
        margin-left: .5rem;
        max-height: 80px;
        padding: .3rem 1rem;
        border: 1px solid $s-link;
        background: none;
        md-icon {
            height: 10px;
            top: 2px;
            position: relative;
            width: 10px;
        }
    } 
    &__button-img {
        margin-right: 1rem; 
        max-width: 42px;
        height: 24px;
    }
    &__button-label {
        color: white;
    }
    &__dropdown-list {
        background:white; 
        border-bottom: 1px solid $s-link;
        border-radius: 3px;
        box-shadow: 0 7px 10px 0 rgba(42,50,66,.3);
        margin: 0;
        min-width: 120px;
        list-style: none;
        padding: .5rem 1rem; 
        position: absolute;
        top: 100%;
        z-index: 999;
    }
    &__dropdown-item {
        cursor: pointer;
        margin-bottom: .5rem; 
    }
    img {
        width: 100%;
        border-bottom: 1px solid $s-link;
    }
}
.s-shortcuts__wrapper {
    color:#999;
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;
    padding: 1rem;
    @media screen and (max-width:767px){
        display: none;
    }
}
.s-video_wrapper {
    flex: 0 0 50%;
    background: #f6f6f6;
    @media screen and (max-width: 767px){
        flex: 0 0 0;
    }
}

.s-video {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    flex-wrap: nowrap;
}

.s-video__controls {
    
}

.s-video__scrubber {
    
}

.s-video__templates {
    
}