* {
    font-family: $s-font-family;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    //
}
p {
    margin-top: 0; 
}
.s-link {
    color: $s-link;
    text-decoration: none;
    cursor: pointer;
    &:hover { 
        color: darken($s-link, 10%);
    }
    &__underline {
        cursor: pointer;
        text-decoration: none;
    }
}