// colors
$s-primary: #2A3242;
$s-link: #6994FF;
$s-highlight: #73e26c;
$s-info: #EE4F2E;

$s-text: $s-primary;
$s-gray: #9B9B9B;
$s-gray-light: #EFEFEF;

// typography
$s-font-family: 'Open Sans', sans-serif;
