// COLOURS

$drd-main-color: #80c343;
$drd-main-bg-color: #1D303E;

$ak-main-color: #ec3336;
$ak-main-bg-color: #1c2a36;

$white: #fff;

$sea: #33699B;
$ook-dat-nog: #0084C9;

$vrt-tool: #33699B;
$vrt-guide: #009C84;
$vrt-learnings: #EB8D09;
$vrt-supl: #333745;

$r1-main-color: #1174B8;
$r1-main-bg-color: #ACDDD5;
$r1-light-color: #FFF;
$r1-accent-color: #EE4F2E;
$r1-green-color: #568435;

$map-dark: #102538;
$map-contrast: #FEFD3A;
$map-bg: #8EAEBC;
$map-bg-light: #384956;

$afspr-footer: #E12831;
$afspr-dark: #3c3c3b;

$r2-main-color: #d00012;
$r2-dark-color: #1D1D1B;

// colors
$s-primary: #2A3242;
$s-link: #6994FF;
$s-highlight: #8ACD86;
$s-info: #EE4F2E;

$s-text: $s-primary;
$s-gray: #9B9B9B;
$s-gray-light: #EFEFEF;

// typography
$s-font-family: 'Open Sans', sans-serif;
