<div class="videoplayer-container">
    <div class="videoplayer-container__player">
        
        <!--annotation preview-->
        <vg-player (onPlayerReady)="onPlayerReady($event)" style="height: calc(100% - 100px);">
            
            <div *ngIf="!isEmptyObject(annotations)" style="position:absolute; bottom:0; z-index:100; width:100%;">
                <div *ngFor="let annotation of (annotations | exclude:'outro' | list)">
                    <div *ngIf="currentTime && (currentTime >= annotation.start && currentTime < annotation.end)" 
                        [ngInitDir]="parseHtml(annotation)"
                        style="position:absolute; z-index:100; width:100%; bottom:1.3rem; text-align:center; color:white;">
                        <div [id]="annotation.key"></div>
                    </div>
                </div>
            </div>

            <vg-controls class="" *ngIf="!controls">
                <vg-play-pause></vg-play-pause>
                <vg-playback-button></vg-playback-button>

                <vg-time-display property="current" format="mm:ss"></vg-time-display>

                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>

                <vg-time-display property="left" format="mm:ss"></vg-time-display>
                <vg-time-display property="total" format="mm:ss"></vg-time-display>

                <vg-mute></vg-mute>

                <vg-fullscreen></vg-fullscreen>
            </vg-controls>

            <video vg-media id="singleVideo" preload="auto" [controls]="controls">
                <source *ngFor="let video of sources" [src]="video.lowResUrl" [type]="video.type">
            </video>
        </vg-player>
        
    </div>
</div>