<div class="" style="width:100%;">
	<div class="sub-menu" style="display:flex;flex-wrap:nowrap;">
		<div class="" style=":;">
			<button type="button" class="btn btn-primary">New</button>
			<button type="button" class="btn btn-secondary">Open</button>
			<input type="file" name="video" (change)="upload($event)">
		</div>
	</div>

	<div class="" style="display:flex;flex-wrap:nowrap;">
			<div class="" style="flex-grow:1;border:1px solid #f2f2f2;">
				<button type="button" class="btn btn-secondary btn-block">+ subtitle (U)</button>
				row 1
			</div>
			<div class="" style="flex-grow:1;border:1px solid #f2f2f2;">
				row 2
			</div>
		    <div class="" style="flex-grow:1;border:1px solid #f2f2f2;">
				row3
			</div>
			<div class="" style="flex-grow:3;border:1px solid #f2f2f2;">
				<bound-player></bound-player>
			</div>
	</div>

	<div class="sub-footer" style="display:flex;flex-wrap:nowrap;">
	</div>

</div>