<div class="videoplayer-container">
    <div class="videoplayer-container__player">

        <vg-player (onPlayerReady)="onPlayerReady($event)" style="height: calc(100% - 100px);">

            <vg-controls class="" *ngIf="!controls">
                <vg-play-pause></vg-play-pause>
                <vg-playback-button></vg-playback-button>

                <vg-time-display property="current" format="mm:ss"></vg-time-display>

                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>

                <vg-time-display property="left" format="mm:ss"></vg-time-display>
                <vg-time-display property="total" format="mm:ss"></vg-time-display>

                <vg-mute></vg-mute>

                <vg-fullscreen></vg-fullscreen>
            </vg-controls>

            <video vg-media id="singleVideo" preload="auto" [controls]="controls">
                <source [src]="video.src" [type]="video.type">
            </video>

        </vg-player>
        
    </div>
</div>

subMeta in video-player {{subMeta | json}}
