<menu-bar></menu-bar>

<div class="socialvideotool">
	<div class="s-menu-project">
		<div>
			<div *ngIf="!project?.data?.status?.downscaled">
				<label class="s-btn btn-upload">
					<input type="file" name="video" (change)="uploadSource($event)">uploadSource
				</label>
			</div>
			<div *ngIf="project?.data?.status?.downscaled">
				<div class="s-btn">brand selector ></div>
				<label class="s-btn s-btn--outline btn-upload">
					<input type="file" name="video" (change)="updateSource($event)">Update Source
				</label>
				<button class="s-btn s-btn--outline" type="button" (click)="preview()">preview</button>
				<button class="s-btn" type="button" (click)="addToRenderQueue()">Render Movie</button>
			</div>

		</div>
	</div>

	<div *ngIf="project?.data">
		<progress-bar *ngIf="uploadProgress > 0 && uploadProgress < 100" [task]="'uploading'" [progress]="uploadProgress"></progress-bar>
		<progress-bar *ngIf="project.data?.status?.downScaleProgress > 0 && project.data?.status?.downScaleProgress < 100" [task]="'downscaling'" [progress]="project.data?.status?.downScaleProgress"></progress-bar>
	</div>

	<progress-dialog *ngIf="project && project.isRendering()" [project]="project"></progress-dialog>

	<div class="s-submenu" *ngIf="project && !project.isRendering()">
		<!--once downscaled show controls-->
		<div *ngIf="project?.data?.status?.downscaled">
			<button type="button" class="s-btn" (click)="addAnnotation('subtitle')">Add Annotation(U)</button>
			<!--<button type="button" class="s-btn" (click)="addAnnotation('subtitleTwo')">Add Annotation Two(U)</button>
			<button type="button" class="s-btn" (click)="addAnnotation('subtitleThree')">Add Annotation Three(U)</button>-->
		</div>
	</div>

	<div class="s-anno-controls" *ngIf="project?.data?.status?.downscaled && !project.isRendering()">
		
		<!--annotations-->
		<div class="s-anno__wrapper">
			<!--annotations column-->
			<div class="s-anno-items">
				<div *ngIf="project.data.annotations">
					<div *ngFor="let annotation of project.data.annotations | list | sortByProp:'end' " 
						(click)="selectedAnnotation.key !== annotation.key && setSelectedAnno(annotation.key)"
						[class.active]="selectedAnnotation.key === annotation.key"
						class="s-anno-item">

						<!--<small>{{selectedAnnotation.key}} | {{annotation.key}}</small>-->

						<div class="s-anno-item__controls">
							
							<div class="s-anno-item__info">
								<label class="s-anno-inputs__label">{{annotation.start | json}}-{{annotation.end | json}} </label>
								<div *ngIf="selectedAnnotation.key === annotation.key">
									<img (click)="toggleTemplateSelector(annotation.key)" 
										*ngIf="annotation.data.imageUrl"
										[src]="templates[annotation.data.key].imageUrl.slice(0, -4) + '_static' + '.gif'" >
								</div>
							</div>

							<div class="s-anno-inputs">
								<!--inputs preview-->
								<div *ngIf="selectedAnnotation.key != annotation.key">
									<div *ngIf="annotation.data.text">
										<small *ngFor="let input of (annotation.data.text | list); let i = index">
											{{input.text}} 
										</small>
									</div>
								</div>

								<!--inputs column-->
								<div *ngIf="selectedAnnotation.key === annotation.key">
									<form  *ngIf="selectedAnnotation.data.text">
										<div *ngFor="let input of (selectedAnnotation.data.text | list); let i = index">
											<label class="s-anno-inputs__label" for="">{{i}}-{{input.label}}</label>
											<input class="s-anno-inputs__input" type="text" [(ngModel)]="input.text" 
												
												(blur)="onBlur(input)" [ngModelOptions]="{standalone: true}">
										</div>
									</form>
								</div>
							</div>

							<div class="s-anno-item__delete">
								<md-icon svgSrc="assets/icons/icon-cross.svg" (click)="deleteAnnotation(annotation.key)"></md-icon>
							</div>

						</div>
						
						<!--template column-->
						<div class="s-anno-templates" style="z-index:1000;" *ngIf="annotation.key === templateSelectorFlag">
							<div *ngFor="let template of (templates | list)"
								(click)="updateTemplate(template)"
								[class.active]="template.key === selectedAnnotation.data.key"
								class="s-anno-template">
									<div (mouseover)="template.preview=true" (mouseout)="template.preview=false">
										<img *ngIf="!template.preview" class="s-anno-template__thumb" [src]="template.imageUrl.slice(0, -4) + '_static' + '.gif'" >
										<img *ngIf="template.preview" class="s-anno-template__thumb" [src]="template.imageUrl">
									</div>
									<!--<small class="s-anno-template__name">{{template.name}}</small>-->
							
							</div>
						</div>
						
					</div>
				</div>
			</div>
			

		</div>

		<!--video-->
		<div class="s-video_wrapper">

			<div class="s-video">
				<vrtvideo-player 
					[clip]="project.data.clip"
					[annotations]="project.data.annotations"
					[selectedAnnotation]="selectedAnnotation">
				</vrtvideo-player>

				<range-slider *ngIf="selectedAnnotation"
					[selectedAnnotation]="selectedAnnotation" 
					[clip]="project.data.clip" (changeAnno)="updateAnnotation( selectedAnnotation.key, $event)">
				</range-slider>
			</div>
		</div>

	</div>
	
</div>