<div class="s-menu-bar__left">
    <div class="s-menu-bar__item" *ngIf="router.url != '/projects'">
        <md-icon routerLink='/projects' class="s-projects-link" svgSrc="assets/icons/icon-projects.svg"></md-icon>
    </div>
    <div *ngIf="router.url.substring(0,6) === '/admin'">
        admin features here
    </div>
</div>
<div class="s-menu-bar__right">
    <div class="s-menu-bar__item" id="s-menubar-dropdown" >
        <md-icon class="s-user-menu__trigger" svgSrc="assets/icons/icon-user.svg" (click)="onClickUserMenu()"></md-icon>
        <ul class="s-user-menu__items" *ngIf="showUserMenu" >
            <li (click)="logout()">logout</li>
        </ul>
    </div>
    <div class="s-menu-bar__item">
        <md-icon svgSrc="assets/icons/icon-feedback.svg" (click)="toggleMessageDialog()"></md-icon>

        <div class="s-user-menu__items s-message-dialog" *ngIf="showMessageDialog" >
            <div class="form" *ngIf="!messageSuccess">
                <h3>Your Feedback</h3>
                <textarea name="" id="" cols="30" rows="10" [(ngModel)]="message" (focus)="clearMessage()" (focusout)="setDefaultMessage()"></textarea>
                <button class="s-btn s-btn--primary" type="button" (click)="sendUserFeedback()">Send</button>
            </div>

            <div class="confirmation" *ngIf="messageSuccess">
                <h3>Thanks for submitting your feedback, we'll get back to you soon!</h3>
                <button class="s-btn s-btn--primary" type="button" (click)="toggleMessageDialog()">Close</button>
            </div>
        </div>
    </div>
    
</div>

