<div class="s-menu-bar__left">
    <div class="s-menu-bar__item">
        <md-icon routerLink='/projects' class="s-projects-link" routerLinkActive="s-active" svgSrc="assets/icons/icon-arrow-left.svg"></md-icon>
    </div>
</div>
<div class="s-menu-bar__right">
    <div class="s-menu-bar__item">
        <md-icon class="s-user-menu__trigger" svgSrc="assets/icons/icon-user.svg" (click)="onClickUserMenu()"></md-icon>
        <ul class="s-user-menu__items" *ngIf="showUserMenu" >
            <li (click)="logout()">logout</li>
            <li>Reset Pswd</li>
        </ul>
    </div>
    <div class="s-menu-bar__item">
        <md-icon svgSrc="assets/icons/icon-feedback.svg"></md-icon>
    </div>
    
</div>

