<div class="s-project-filter" style="padding:1rem;">
  <form #f="ngForm" (ngSubmit)="queryUserByEmail(f.value, f.valid)" novalidate>
      <!-- we will place our fields here -->
      <div class="s-formrow">
        <div class="s-formitem s-formitem--block">
          <input type="text" name="email" [(ngModel)]="userEmail">
        </div>
        <div class="s-formitem">
          <button class="s-btn s-btn--white s-btn--inputsize" type="submit">Filter</button>
        </div>
      </div>
  </form>
</div>

<div class="s-project-list">

  <div class="s-project-item" *ngFor="let project of projects">
    <!--image-->
    <div *ngIf="project.data.clip?.hasOwnProperty('thumbUrl')" class="s-project-item__image">
      <img src="{{project.data.clip.thumbUrl}}" alt="">
      <!--<div class="s-project-item__previewbtn">
        <md-icon svgSrc="assets/icons/icon-play.svg"></md-icon>
      </div>-->
    </div>

    <div class="s-project-item__info">
      <!--meta-->
      <div class="s-project-item__meta">
        <span class="">{{project.created}}</span> |
        <span class="">{{project.createdBy}}</span>
      </div>
      <!--status-->
      <div class="s-project-item__status">
        <div *ngIf="project.data.status">
          <!--downscaling-->
          <div class="s-project-item__statusprocess">
            <span *ngIf="project.data?.status?.downscaled"><md-icon svgSrc="assets/icons/icon-check.svg"></md-icon></span>
            <span *ngIf="project.data?.status?.downscaled != null">Downscale Process</span> 
          </div>
          <div class="s-project-item__statussubprocess">
            <span *ngIf="project.status?.uploaded"><i>Uploaded:</i> {{project.status?.uploaded}}</span>
          </div>
          <div class="s-project-item__statussubprocess" *ngIf="project.data?.status?.downScaleProgress > 0 && project.data?.status?.downScaleProgress < 100">
            <span>Downscaling</span>
            <span><progress-bar [progress]="project.data?.status?.downScaleProgress"></progress-bar></span>
          </div>
          <div class="s-project-item__statussubprocess">
            <span *ngIf="project.data?.status?.storing">storing <md-icon svgSrc="assets/icons/icon-spinner-ring.svg"></md-icon></span>
          </div>

          <!--templater-->
          <!--<div>Templater:<span>Templater progress here</span></div>

          <!--stitiching-->
          <div class="s-project-item__statusprocess">
            <span *ngIf="project.data?.status?.render"><md-icon svgSrc="assets/icons/icon-check.svg"></md-icon></span>
            <span *ngIf="project.data?.status?.render != null">Rendering Process</span>
          </div>
          <div class="s-project-item__statussubprocess" *ngIf="project.data?.status?.stitchingProgress > 0 && project.data?.status?.stitchingProgress < 100">
            <span>Rendering Movie</span>
            <span><progress-bar [progress]="project.data?.status?.stitchingProgress"></progress-bar></span>
          </div>
          <div class="s-project-item__statussubprocess">
            <span *ngIf="project.data?.status?.storingRender">storing <md-icon svgSrc="assets/icons/icon-spinner-ring.svg"></md-icon></span>
          </div>
          
        </div>
      </div>
    </div>

    <!--controls-->
    <div class="s-project-item__controls">
      <button class="s-btn" type="button" (click)="downloadFile(project.key)">Download</button>
      <button class="s-btn s-btn--secondary" type="button" (click)="open(project.key)">Edit</button>
    </div>

    <div id="{{project.key}}" *ngIf="role && role > 1">
      <div class="s-project-item__morebtn" (click)="showExtra(project.key)">...</div>
      <ul class="s-project-item__more s-slideIn" *ngIf="activeExtra === project.key">
        <li *ngIf="role > 1" class="" (click)="deleteProject(project.key)">Delete</li>
      </ul>
    </div>

  </div>